HOST=0.0.0.0
PORT=1337

APP_KEYS=appKey1,appKey2,appKey3,appKey4
API_TOKEN_SALT=planifyApiTokenSalt
ADMIN_JWT_SECRET=planifyAdminJwtSecret
TRANSFER_TOKEN_SALT=planifyTransferTokenSalt
JWT_SECRET=planifyJwtSecret

DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=planify
DATABASE_USERNAME=planify_user
DATABASE_PASSWORD=planify123
DATABASE_SSL=false
DATABASE_SCHEMA=public

SEED_ACADEMIC_COORDINATOR_EMAIL=coordinator@planify.edu
SEED_ACADEMIC_COORDINATOR_PASSWORD=Planify123*
SEED_TEACHER_EMAIL=teacher@planify.edu
SEED_TEACHER_PASSWORD=Planify123*
SEED_STUDENT_EMAIL=student@planify.edu
SEED_STUDENT_PASSWORD=Planify123*